[Unit]
Description=Telegram Weekly Poll Bot Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/Telegram_Weekly_Poll_Bot
Environment="PATH=/opt/Telegram_Weekly_Poll_Bot/venv/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=/opt/Telegram_Weekly_Poll_Bot/venv/bin/python3 /opt/Telegram_Weekly_Poll_Bot/bot.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
